@font-face {
    font-display: swap;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('fira-mono-v14-latin_latin-ext-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('titillium-web-v15-latin_latin-ext-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Titillium Web';
    font-style: italic;
    font-weight: 400;
    src: url('titillium-web-v15-latin_latin-ext-italic.woff2') format('woff2');
}
:root {
    --background: #fafafa;
    --code-block: #f2f2f2;
    --code-inline: #e9e9e9;
    --divider: #e8e8e8;
    --fg-1: #000;
    --header: #222;
    --link: #02749f;
    --text: #222;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1b1b1b;
        --code-block: #212121;
        --code-inline: #2a2a2a;
        --divider: #222222;
        --fg-1: #fff;
        --header: #181818;
        --link: #00b9ff;
        --text: #dcdcdc;
    }
}
a { color: var(--link); }
blockquote {
    background: var(--code-inline);
    border-radius: .2rem;
    margin-left: 0;
    max-width: 33rem;
    padding: .001rem 1.4rem;
}
body {
    background: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    margin: 0;
}
.close_nav {
    color: var(--text);
    font-size: 1.5rem;
    position: absolute;
    right: 1.3rem;
    top: 1rem;
}
code, pre { font-family: 'Fira Mono', monospace; }
h1,
h2 {
    color: var(--fg-1);
    font-weight: 400;
    margin-top: 2rem;
}
h1 { font-size: 1.4rem; }
h2 { font-size: 1.2rem; }
header {
    align-items: center;
    background: var(--header);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0 1.8rem;
    z-index: 1;
}
header a {
    color: #fff;
    text-decoration: none;
}
.language-eno .comment { color: #5c6370; }
.language-eno .key { color: #e06c75; }
.language-eno .operator { color: #56b6c2; }
.language-eno .value { color: #3f3f3f; }
main {
    flex-grow: 1;
    min-width: 0;
    overflow-y: auto;
    padding: 0 1.8rem;
}
nav { overflow-y: auto; }
nav a { text-decoration: none; }
nav a.active {
    align-self: normal;
    background: var(--code-block);
    border-left: 0.2rem solid var(--link);
    padding: 0 0.5rem;
}
.nav_inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1.8rem;
}
.nav_inner a { white-space: nowrap; }
.nav_inner span { margin: 1rem 0 .2rem 0; }
.nav_inner > :last-child { margin-bottom: 0; }
.next_page { margin: 3rem 0 2rem 0; }
.number {
    display: inline-block;
    font-weight: 500;
    text-align: right;
    width: 1.5rem;
}
ol { list-style-position: inside; }
ol { padding-left: 0; }
ol li::marker { color: var(--fg-1); }
p, ul {
    box-sizing: border-box;
    max-width: 33rem;
}
p code,
h2 code,
li code {
    background: var(--code-inline);
    border-radius: .2rem;
    padding: .15rem .3rem;
}
p code,
li code { font-size: .9rem; }
pre {
    background: var(--code-block);
    box-shadow: inset 0 .5rem .5rem -.5rem hsla(0, 0%, 0%, .1),
                inset 0 -.5rem .5rem -.5rem hsla(0, 0%, 0%, .1);
    font-size: .9rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: 2rem;
    overflow-x: auto;
    padding: 2rem;
}
.split {
    display: flex;
    height: calc(100vh - 3rem);
}
strong { color: var(--fg-1); }
svg { fill: currentColor; }
.title {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
}
.title svg {
    font-size: 1.4em;
    margin-inline-start: .3em;
    position: relative;
    top: .05em;
}
ul { padding-left: 2rem; }
@media (max-width: 49.999rem) {
    header { padding: 0 1rem; }
    main {
        flex-grow: 1;
        min-width: 0;
        overflow-y: auto;
        padding: 0 1rem;
    }
    nav { display: none; }
    nav:target {
        background: var(--background);
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    pre {
        margin-left: -1rem;
        margin-right: -1rem;
        overflow-x: auto;
        padding: 1rem;
    }
}
@media (min-width: 50rem) {
    .close_nav { display: none; }
    nav {
        border-right: 1px solid var(--divider);
        box-shadow: 0 0 1rem hsla(0, 0%, 0%, .05);
    }
    .open_nav { display: none; }
}
@media (prefers-color-scheme: dark) {
    .language-eno .comment { color: #5c6370; }
    .language-eno .key { color: #fb626e; }
    .language-eno .operator { color: #4fd3e3; }
    .language-eno .value { color: #dbdbdb; }
}
